.myInputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.myInput {
    width: 300px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
    color: teal;
    /*border-color: teal;*/
    /*border-style: solid;*/
}

.myInputLabel {
    font-size: 18px;
}


