@import '~antd/dist/antd.css';


header {
    display: flex;
    background-color: black;
    justify-content: center;
}

.content {
    display: flex;
    width: 80%;
    text-align: justify;
}

.headerMenu {
    display: flex;
}

/*.link {*/
/*    font-size: 32px;*/
/*    color: white;*/
/*    margin: 20px;*/
/*    text-decoration: none;*/
/*}*/


