header {
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
}

.link {
    font-size: 32px;
    color: #FFFFFF;
    margin: 20px;
    text-decoration: none;
}