.tableHead, .row {
    display: flex;
    flex: 1;
    margin-block: 0px;
    width: 100%;
    border-bottom-style: solid;
    padding: 10px 0px;
}

.tableHead {
    background-color: #393B38;
}

.headerName, .headerUserName, .headerEmail, .headerAddress, .headerPosts {
    color: #FFFFFF;
    font-size: 22px;
}

.name, .userName, .email, .address, .headerName, .headerUserName, .headerEmail, .headerAddress, .posts, .headerPosts {
    width: 16.5%;
    word-break:break-all;
    padding: 10px 0px;
}

.posts, .headerPosts {
    padding-inline-start: 0px;
    width: 34%;
    /*word-break:break-all;*/
}

ul {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0px;
}

* {
    hyphens: auto;
}